$red: red;
$red-light: #ff4040;
$red-dark: red;
$anthrazit: #414141;
$anthrazit-dark: #262626;
$anthrazit-medium-dark: #636363;
$anthrazit-light: #ececec;
$anthrazit-medium-light: #b2b2b2;
/* anthrazit-light: color($anthrazit lightness(+5%)); */
$white: white;
