@import "basscss-basic";
@import "basscss-type-scale";
@import "basscss-typography";
@import "basscss-layout";
@import "basscss-align";
@import "basscss-margin";
@import "basscss-padding";
@import "basscss-grid";
@import "basscss-flexbox";
@import "basscss-position";
@import "basscss-border";
@import "basscss-hide";

@import "colors";

@import "controls";
@import "table";

:root {
  --border-color: $red;
  --border-width: 2px;
}

.border-bottom {
  border-bottom-color: var(--border-color);
  border-bottom-style: solid;
  border-bottom-width: var(--border-width);
}

body, html {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12pt;
  height: 100%;
  margin: 0px;
  position: relative;
  background-color: $anthrazit-light;
  color: $anthrazit-dark;
}

.bgdark {
  background-color: $anthrazit;
  color: $white;
}

.bgmedium {
  background-color: $anthrazit-medium-light;
  color: $anthrazit-dark;
}

.bgwhite {
  background-color: $white;
  color: $anthrazit-dark;
}

.bgred {
  background-color: $red;
  color: $white;
}

.monospace {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.inactive {
  color: $anthrazit-medium-dark;
}
